$red: #d72d27;
$orange: #faa92c;
$green: #658b3b;
$blue: #2648b9;

$plus: "M PLUS 1", sans-serif;
$lato: "Lato", sans-serif;

.diagram {
    img {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
    }
}
