$red: #d72d27;
$orange: #faa92c;
$green: #658b3b;
$blue: #2648b9;

$plus: "M PLUS 1", sans-serif;
$lato: "Lato", sans-serif;

.home_banner {
    background-image: url("../resources/images/home_banner.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    flex-basis: 1210px;
    flex-grow: 4;
    flex-shrink: 2;

    .button {
        margin-right: 43px;
        margin-bottom: 43px;
    }

    a {
        text-decoration: none;
        color: #fff;
        font-size: 32px;
        font-family: $plus;
        font-weight: 700;
        background-color: $red;
        padding: 4px 24px 8px 24px;
        border-radius: 20px;

        &:hover {
            background-color: $blue;
        }
    }
}

.about-info {
    background-color: $orange;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 496px;
    margin-bottom: 80px;
    padding-left: 3%;
    padding-right: 3%;

    p {
        color: #fff;
        font-family: $lato;
        font-size: 24px;
        font-weight: 400;
        width: 658px;
        height: 203px;
    }

    iframe {
        width: 625px;
        height: 268px;
    }
}

.video_section {
    margin-bottom: 80px;

    video {
        object-fit: fill;
        width: 100%;
        height: 600px;
    }
}
