$red: #D72D27;
$orange: #FAA92C;

$plus: "M PLUS 1", sans-serif;
$lato: "Lato", sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 487px;
    display: flex;
    nav {
        width: 400px;
        background-color: $red;
        
        ul {
            display: flex;
            flex-wrap: wrap;
        }

        li {
            list-style: none;
            text-align: center;
            width: 100%;
            margin-bottom: 25px;
            
            a {
                color: #fff;
                text-decoration: none;
                font-family: $plus;
                font-weight: 700;
                font-size: 40px;
            }

            &:first-child {
                margin-bottom: 5px;
            }
            
            &:hover {
                opacity: 0.7;
            }
        }
    }
    aside {
        width: 100%;
        background-image: url("../resources/images/home_banner.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        a {
            text-decoration: none;
            color: #fff;
            font-size: 32px;
            font-family: $plus;
            font-weight: 700;
            background-color: $red;
            padding: 8px 24px;
            border-radius: 20px;
            position: relative;
            top: 382px;
            left: 951px;
        }
    }
}

.header {
    display: flex;
    justify-content: center;
    h1 {
        display: inline-block;
        font-size: 48px;
        font-weight: 700;
        font-family: $plus;
        margin-top: 32px;
        margin-bottom: 32px;
        border-bottom: solid $orange 4px;
    }
}

footer {
    background-color: $red;
    height: 370px;

    p {
        color: #fff;
        font-size: 14px;
        font-family: $lato;
        font-weight: 400;
        text-align: center;
    }

    .containers {
        display: flex;
        color: #fff;
    
    
        .container {
            margin-top: 40px;
            margin-right: 120px;
    
                li {
                    list-style: none;
                    text-align: right;
    
                    a {
                        display: inline-block;
                        color: #fff;
                        text-decoration: none;
                        font-size: 20px;
                        font-weight: 400;
                        font-family: $lato;
                        margin-bottom: 15px;
                        border-bottom: solid #fff 1px;
                        text-align: right;
    
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
    
            h3 {
                font-size: 28px;
                font-weight: 700;
                font-family: $plus;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 27px;
            }
    
            pre {
                font-size: 20px;
                font-weight: 400;
                font-family: $lato;
                text-transform: uppercase;
            }
    
            p {
                font-size: 20px;
                font-weight: 400;
                font-family: $lato;
                margin-bottom: 15px;
            }
    
            address {
                text-align: center;
                margin-bottom: 24px;
                height: 72px;
    
                a{
                    display: inline-block;
                    color: #fff;
                    font-size: 20px;
                    font-weight: 400;
                    font-family: $lato;
                    margin-bottom: 24px;
    
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
    
            .icons {
                display: flex;
                justify-content: space-between;
                
                a {
                    color: #fff;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    
        .first {
            margin-left: 153px;
            margin-bottom: 16px;
        }
    
        .last {
            margin-right: 158px;
            margin-bottom: 16px;
        }
    }
}



@import 'home.scss';
@import 'menu.scss';
@import 'careers.scss';
@import 'contact.scss';