$red: #d72d27;
$orange: #faa92c;
$green: #658b3b;
$blue: #2648b9;

$plus: "M PLUS 1", sans-serif;
$lato: "Lato", sans-serif;

$tablet: "912px";
$phone: "480px";

@media only screen and (max-width: $tablet) {
    header {
        nav {
            li {
                margin-bottom: 45px;
                a {
                    font-size: 25px;
                }
            }
        }
    }
    .about-info {
        gap: 15px;
        p {
            font-size: 16px;
        }
    }
    .video_section {
        video {
            height: 400px;
        }
    }
    .menu {
        .menu-header {
            p {
                font-size: 18px;
            }
        }
    }
    .vacancies-form {
        p {
            font-size: 20px;
            padding-bottom: 50px;
        }
        .btn {
            .apply {
                font-size: 25px;
                width: 150px;
                height: 50px;
            }
        }
        .form-item {
            label {
                font-size: 20px;
            }
            input {
                width: 60%;
                height: 40px;
            }
        }
    }
    .about-info {
        p {
            font-size: 20px;
        }
    }
    footer {
        .containers {
            gap: 0;
        }
    }
    .cards {
        gap: 40px;
        .vacancie-card {
            .card-header {
                font-size: 20px;
            }
        }
    }
    .form-item {
        textarea {
            margin-left: 10px;
            height: 150px;
        }
    }
    .menu {
        .menu-header {
            justify-content: center;
            p {
                font-size: 1.5vh;
            }
            a {
                font-size: 1.5vh;
            }
        }
    }
    .contacts {
        justify-content: center;
        gap: 0;
        margin-bottom: 50px;

        .general_info {
            margin-right: 100px;
            margin-bottom: 100px;
        }
        .contact-form {
            margin-left: 100px;
            margin-top: 0;
        }
    }
    footer {
        .containers {
            justify-content: space-around;
            gap: 0;

            .container {
                margin-right: 30px;
            }
        }
    }
}

@media only screen and (max-width: $phone) {
    .video_section {
        margin-bottom: 30px;
    }

    .home_banner {
        background-position: left;

        a {
            font-size: 18px;
        }
    }

    .menu_banner {
        background-position: right;
    }

    .careers_banner {
        background-position: right;
    }

    .contact_banner {
        background-position: right;
    }

    .about-info {
        align-items: stretch;
        padding-top: 50px;
        margin-bottom: 30px;

        p {
            font-size: 16px;
            height: 100%;
        }

        iframe {
            padding-top: 50px;
        }
    }

    .cards {
        gap: 0;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;

        .vacancie-card {
            margin: 50px;
            margin-bottom: 0;
            width: 50%;
        }

        .card-last {
            margin-bottom: 50px;
        }
    }

    .vacancies-form {
        margin: 0;

        .form-item {
            input {
                height: 25px;
                margin-top: 5%;
                font-size: 18px;
            }

            textarea {
                height: 100px;
                font-size: 18px;
            }
        }
    }

    footer {
        .containers {
            .container {
                margin: 0;

                &:first-child {
                    padding-top: 20px;
                }

                h3 {
                    font-size: 20px;
                }

                pre {
                    font-size: 16px;
                }

                p {
                    font-size: 16px;
                }

                li {
                    a {
                        font-size: 16px;
                    }
                }

                address {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .contacts {
        .general_info {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            border-radius: 0;
            margin-top: 50px;
            margin-bottom: 50px;
            flex-basis: 100%;

            h4 {
                margin-left: 0;
                margin-right: 0;
                text-align: center;
            }

            p {
                margin-left: 8%;
                margin-right: 8%;
            }

            .icons {
                margin-left: 0;
                margin-right: 0;
                justify-content: space-around;
            }
        }

        .contact-form {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 50px;
            border-radius: 0;

            form {
                align-content: center;

                input {
                    width: 90%;
                    margin-left: 0;
                    margin-right: 0;
                    font-size: 18px;
                }

                textarea {
                    width: 90%;
                    margin-left: 0;
                    margin-right: 0;
                    font-size: 18px;
                }

                .btn {
                    button {
                        font-size: 20px;
                        width: 160px;
                        height: 45px;
                    }
                }
            }

            h3 {
                font-size: 35px;
            }
        }
    }
}
