* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 487px;
  display: flex;
}
header nav {
  flex-basis: 303px;
  flex-grow: 1;
  background-color: #D72D27;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
}
header nav li {
  list-style: none;
  text-align: center;
  width: 100%;
  margin-bottom: 25px;
}
header nav li a {
  color: #fff;
  text-decoration: none;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
header nav li:first-child {
  margin-bottom: 5px;
}
header nav li:hover {
  opacity: 0.7;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.header h1 {
  display: inline-block;
  font-size: 48px;
  font-weight: 700;
  font-family: "M PLUS 1", sans-serif;
  margin-top: 32px;
  margin-bottom: 32px;
  border-bottom: solid #FAA92C 4px;
}

footer {
  background-color: #D72D27;
  height: 370px;
}
footer p {
  color: #fff;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
}
footer .containers {
  display: flex;
  color: #fff;
  justify-content: center;
  gap: 120px;
}
footer .containers .container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
footer .containers .container li {
  list-style: none;
  text-align: right;
}
footer .containers .container li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  margin-bottom: 15px;
  border-bottom: solid #fff 1px;
  text-align: right;
}
footer .containers .container li a:hover {
  opacity: 0.7;
}
footer .containers .container h3 {
  font-size: 28px;
  font-weight: 700;
  font-family: "M PLUS 1", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 27px;
}
footer .containers .container pre {
  font-size: 20px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}
footer .containers .container p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  margin-bottom: 15px;
}
footer .containers .container address {
  text-align: center;
  margin-bottom: 24px;
  height: 72px;
}
footer .containers .container address a {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  margin-bottom: 24px;
}
footer .containers .container address a:last-child {
  text-decoration: none;
}
footer .containers .container address a:hover {
  opacity: 0.7;
}
footer .containers .container .icons {
  display: flex;
  justify-content: space-between;
}
footer .containers .container .icons a {
  color: #fff;
}
footer .containers .container .icons a:hover {
  opacity: 0.7;
}
footer .containers .first {
  margin-bottom: 16px;
}
footer .containers .last {
  margin-bottom: 16px;
}

.home_banner {
  background-image: url("../resources/images/home_banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  flex-basis: 1210px;
  flex-grow: 4;
}
.home_banner .button {
  margin-right: 43px;
  margin-bottom: 43px;
}
.home_banner a {
  text-decoration: none;
  color: #fff;
  font-size: 32px;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 700;
  background-color: #D72D27;
  padding: 4px 24px 8px 24px;
  border-radius: 20px;
}

article {
  background-color: #FAA92C;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 496px;
  margin-bottom: 80px;
}
article p {
  color: #fff;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  width: 658px;
  height: 203px;
}
article iframe {
  width: 625px;
  height: 268px;
}

.video_section {
  margin-bottom: 80px;
}
.video_section video {
  object-fit: fill;
  width: 100%;
  height: 600px;
}

.careers_banner {
  background-image: url("../resources/images/career_banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-basis: 1210px;
  flex-grow: 4;
}

.vacancies {
  background-color: #FAA92C;
  margin-bottom: 100px;
}

.cards {
  display: flex;
  justify-content: space-between;
}
.cards .card-first {
  margin-left: 100px;
}
.cards .card-last {
  margin-right: 105px;
}
.cards .vacancie-card {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-top: 126px;
  margin-bottom: 100px;
  box-shadow: 8px -1px 1px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 8px -1px 1px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 8px -1px 1px 0px rgba(0, 0, 0, 0.49);
}
.cards .vacancie-card img {
  width: 100%;
}
.cards .vacancie-card .card-header {
  font-size: 40px;
  font-weight: 700;
  font-family: "M PLUS 1", sans-serif;
  text-align: center;
  color: #fff;
  background-color: #658B3B;
  padding-top: 20px;
  padding-bottom: 33px;
}

.vacancies-form {
  background-color: #658B3B;
  margin-right: 100px;
  margin-left: 100px;
}
.vacancies-form p {
  font-size: 34px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: #fff;
  padding-left: 69px;
  padding-top: 60px;
  padding-bottom: 97px;
}
.vacancies-form .form-item {
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}
.vacancies-form .form-item label {
  font-size: 32px;
  font-weight: 700;
  font-family: "M PLUS 1", sans-serif;
  color: #fff;
}
.vacancies-form .form-item input, .vacancies-form .form-item textarea {
  width: 750px;
  border-radius: 10px;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 5px;
}
.vacancies-form .form-item input {
  height: 60px;
}
.vacancies-form .btn {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.vacancies-form .btn .apply {
  color: #fff;
  text-align: center;
  font-family: "M PLUS 1", sans-serif;
  font-size: 36px;
  font-weight: 700;
  border-radius: 30px;
  width: 280px;
  height: 85px;
  background-color: #2648B9;
  cursor: pointer;
}
.vacancies-form .btn .apply:hover {
  opacity: 0.7;
}

.careers-body {
  background-color: #FAA92C;
}

/*# sourceMappingURL=style.css.map */
